name: Net RoutesList publish

on:
  release:
    types: [ created ]

jobs:
 build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]
        nuget: [latest, preview]
    name: NuGet@${{ matrix.nuget }} build package
    steps:
      - uses: actions/checkout@v3

      - uses: actions/cache@v3
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: |
            ${{ runner.os }}-nuget-

      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v2.0.0

      - name: Setup NuGet.exe
        uses: nuget/setup-nuget@v1
        with:
          nuget-api-key: ${{ secrets.NUGETKEY }}
          nuget-version: ${{ matrix.nuget }}

      - name: Restore nuget packages
        run: nuget restore RoutesList.sln

      - name: Build
        run: msbuild .\RoutesList.sln /t:Restore /p:Configuration=Release /t:build

      - name: pack
        run: nuget pack .\RoutesList.nuspec